*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
li{
    list-style: none;
}
h1, h2{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h2{
    text-align: center;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
.box:hover{
    transform: scale(1.06);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.80);
}
.button{
    text-decoration: none;
    font-family: "Oswald",sans-serif;
    color: black;
    font-size: 1rem;
}
.center{
    text-align: center;
    font-style: italic;
}
body::before{
    display: block;
    content: "";
    height: 10.30em;
}
body{
    font-size: 0.875rem;
    font-family: "Oswald",sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    position:fixed;
    top: 0;
    width: 100%;
    background: url(/images/wallpapers/gradiants.png) no-repeat;
    background-color: white;
    background-size: auto;
    background-position: 0px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.80));
    z-index: 2;    
}
.container{
    width: 90%;
    margin: 0;
    padding: 1em;   
}
.flex{
    display: flex;
    justify-content: space-between;
    gap:2em;
    padding: 0.5em;
}
.navbar{
    min-width: 5.625em;
    margin-top: 1em;
}
.navbar-item{
    padding: 0.25em 0;
}
#showcase{
    background: url(/images/wallpapers/Group\ 7.jpg) no-repeat;
    background-size: auto;
    background-position: center;
    color: white;
    padding: 0;
}
.vph{
    min-height: 78vh;
    padding: 1em 0;
}
.items{
    display: flex;
    align-items: start;
    gap: 1em;
}
.items .diagram{
    padding-top: 1em;
    padding-bottom: 2em;
}

.position-fix-right, .position-fix{
    display: flex;
    flex-direction: column;
}
.position-fix-right h3, .position-fix-right p{
    width: 80%;
    align-self: flex-end;
}
.position-fix h3, .position-fix p{
    width: 80%;
    align-self: flex-start;
}
.item1{
    justify-content: center;
}
#comment-boxes{
    background-color: #07A9EF;
}
.box{
    margin-bottom: 1em;
    padding: 1em;
    background-color: whitesmoke;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
}
.logo-list ul{
    display: flex;
    flex-direction: column;
}
.logo-list li, .logo-list img{
    margin: 0;
    padding: 0;

}
.empresa{
    font-weight: bold;
}
.logo-first{
    margin-bottom: 1em;
}

#footer{
    padding: 1em;
    text-align: center;
    background: rgba(0, 0, 0, 0.81);
    color: whitesmoke;
}
#footer p{
    margin: 0 auto;
}

@media (max-width:20rem){
    header{
        background-position: 0px -30px;
    }
}
@media (min-width:40rem){
    header{
        background-position: 400px -100px;
    }
}

@media (min-width:64em){
    .button{
        font-size: 1.125rem;
    }
    body{
        font-size: 1rem;
    }
    header{
        background-position: 500px -100px;
    }
    .navbar{
        min-width: 9.25em;
    }
    .navbar-item{
        padding: 0.25em 0.75em;
    }
}