*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}
li{
    list-style: none;
}
.button{
    text-decoration: none;
    font-family: "Oswald",sans-serif;
    color: black;
    font-size: 1rem;
}
body::before{
    display: block;
    content: "";
    height: 150px;
}
body{
    font-size: 0.875rem;
    font-family: "Oswald",sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header{
    position:fixed;
    min-height: 100px;
    top:0px;
    width: 100%;
    background: url(/images/wallpapers/gradiants.png) no-repeat;
    background-color: white;
    background-size: auto;
    background-position: 0px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.80));
    z-index: 2;
}

.container{
    border: 2px solid black;
    width: 80%;
}
.flex{
    display: flex;
    justify-content: space-between;
    gap:2em;
}
.navbar{
    min-width: 5.625em;
    margin-top: 1em;
}
.navbar-item{
    padding: 0.25em 0;
}
#showcase{
    min-height: 90vh;
    background: url(/images/wallpapers/Group\ 7.jpg) no-repeat;
    background-size: auto;
    background-position: center;
}
.vph{
    min-height: 90vh;
    color: white;
}

@media (max-width:20rem){
    header{
        background-position: 0px -30px;
    }
}
@media (min-width:40rem){
    header{
        background-position: 400px -100px;
    }
}

@media (min-width:64em){
    .button{
        font-size: 1.125rem;
    }
    body{
        font-size: 1rem;
    }
    header{
        background-position: 500px -100px;
    }
    .navbar{
        min-width: 9.25em;
    }
    .navbar-item{
        padding: 0.25em 0.75em;
    }
}