
img{
    max-width: 100%;
    height: auto;
}
main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    gap: 1em;
    margin: 2em auto;
    width: 90%;
}
.items{
    text-align: center;
}
.item2, .item7{
    display: flex;
    justify-content: end;
    z-index: 3;
    width: 120%;
}
.item4, .item8{
    display: flex;
    justify-self:end;
    z-index: 3;
    width:120%;
}
.position-fix, .position-fix-right{
    max-width: 70%;
}

.item1{
    grid-column: 1/4;
    text-align: center;
}
.item3{
    grid-column: 2/3;
    grid-row:2/5;
}
.diagram{
    position: relative;
    top: 15%;
    left: 0;
    min-width:400px
}